.header-slider
	.container
		ul.header-slider__list
			li.header-slider__item
				.header-slider__image-wrapper
					img.header-slider__image(src="img/grain-extruder.png", alt="grain-extruder")
			li.slider-item
				.header-slider__image-wrapper
					img.header-slider__image(src="img/grain-extruder.png", alt="grain-extruder")
			li.slider-item
				.header-slider__image-wrapper
					img.header-slider__image(src="img/grain-extruder.png", alt="grain-extruder")
						