head
	meta(charset="UTF-8")
	block title
		title GE
	
	link(rel='icon',  href="img/favicon.ico")
	
	// build:css css/vendor.min.css 
	// bower:css
	link(rel="stylesheet", href="css/bxslider.css")
	// endbower 
	// endbuild 


	// build:css fonts/fonts.min.css 
	// endbuild 
	

	// build:css css/main.min.css
	link(rel="stylesheet", href="css/main.css")
		
	// endbuild 
	



	// build:js js/vendor.js 
	// bower:js
	script(src='./bower_components/jquery/jquery.js')	
	// endbower 
	// endbuild 

	// build:js js/main.min.js 
	script(src='js/main.js')
	// endbuild 



	// build:js js/modernizr.min.js 
	script(src='/bower_components/modernizr/modernizr.js')
	
	// endbuild 



