header.page-header
	.container
		.page-header__logo
			.page-heaer__company-name ООО &laquo;ГРАНЭКСПРО&raquo;
			.page-header__company-goods экструдеры, грануляторы для производства комбикормов и удобрений
		nav
			ul.page-header__list
				li.page-header__item
					a.page-header__link(href="#") О нас
				li.page-header__item
					a.page-header__link(href="#") Преимущество
				li.page-header__item
					a.page-header__link(href="#") Продукция
				li.page-header__item
					a.page-header__link(href="#") Отзывы
				li.page-header__item
					a.page-header__link(href="#") Контакты
		.page-header__contacts
			.page-header__call-order
				a.page-header__call-link(href="#") Заказать звонок
			.page-header__phone 8 (981) 121 58 23		
