//include ../common/mixins

<!DOCTYPE html>
html(lang="ru-Ru")
	include ../common/head.jade

	body
		.wrapper
			.container

				include ../common/header.jade
				include ../common/header-slider.jade
				include ../common/advantages.jade
				include ../common/about.jade
				include ../common/doubts.jade
				include ../common/catalog.jade
				include ../common/reviews.jade
				include ../common/pay-delivery.jade
				include ../common/contacts.jade
				include ../common/footer.jade
		include ../common/footer.jade



